  /* #bgimg {
    background-image:
    url(pigs1.jpg);
    background-position : center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
  } */
  #contents {
    font-size : 30px;
    color : black;
    background-color : white;
    opacity : 0.8;
    padding-bottom : 50px;
  }
  h1{
    font-size : 20px;
    text-align : center;
    margin-bottom : 20px;
    padding-bottom : 20px;
    border-bottom : 2px solid gray;
  }
  .page {
    display : block;
    font-weight : bold;
    color : black;
    margin-bottom : 80px;
  }
  #BackButton {
    display : inline;
    text-align : right;
  }
  #NextButton {
    display : inline;
    text-align : right;
    text-position :
  }
