.wrapper {
    width: 800px;
    height: 13000px;
}


.profile_btn > a > img {
    display: flex;
    width: 40px;
    height: 40px;
}

.search_btn > img {
    display: flex;
    width: 60px;
    height: 60px;
}

.write_btn {
    border-radius: 20%;
    font-size: medium;
}

.home_btn {
    margin: 0 0;
    width: 60px;
    height: 60px;
}

.home_btn > a > img {
    display: flex;
    width: 60px;
    height: 60px;
}

.top_box{
    display: flex;
    justify-content: space-between;
}

.search_bar {
    display: flex;
    width: 60px;
    height: 60px;
}